.modal {
    width: 30rem;
    background: $gray;
    position: absolute;
    top: 80%;
    left: 40%;
    padding: 1rem;
}

.modal__header {
    display: flex;
    justify-content: space-evenly;
    & > button {
        border: 0;
    }
}

.modal__title {
    text-transform: capitalize;
    font-weight: bold;
}

.modal__selector {
    display: flex;
    flex-flow: row wrap;
    overflow: hidden;

    & > button {
        flex: 0 0 25%;
        border: none;
        border-radius: 0;
        padding: 0.5rem;
    }

    & > button.selected {
        font-weight: bold;
    }
}
