.tableComponent {
    background: $gray;
    color: $black;
    margin: 1rem 0;
}

.tableComponent__header {
    background: $black;
    color: $white;
    text-align: center;

    padding: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;

    p {
        margin: 0;
    }
}

.tableComponent table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;

    thead {
        text-align: left;
    }

    td {
        padding: 0.1rem 0rem 0.1rem 0.5rem;
    }

    tbody tr:nth-child(odd) {
        background-color: lightgray;
    }
    
}

.tableComponent .drivers {

    th:nth-child(1) {
        width: 15%;
    }

    th:nth-child(2) {
        width: 30%;
    }

    th:nth-child(3) {
        width: 25%;
    }

    th:nth-child(4) {
        width: 15%;
    }

    th:nth-child(5) {
        width: 15%;
    }

}

.tableComponent .constructors {

    th:nth-child(1) {
        width: 15%;
    }

    th:nth-child(2) {
        width: 55%;
    }

    th:nth-child(3) {
        width: 30%;
    }
}

.tableCalendar {
    th:nth-child(1) {
        width: 10%;
    }

    th:nth-child(2) {
        width: 30%;
    }

    th:nth-child(3) {
        width: 35%;
    }

    th:nth-child(4) {
        width: 25%;
    }
}

.tableComponent .raceResults {
    th:nth-child(1) {
        width: 15%;
    }

    th:nth-child(2) {
        width: 30%;
    }

    th:nth-child(3) {
        width: 25%;
    }

    th:nth-child(4) {
        width: 30%;
    }

}